html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

strong {
  font-weight: 600;
}

b {
  font-weight: 700;
}

section, footer, header {
  padding: 0 10%;
}

header {
  display: flex;
  justify-content: space-between;
  height: 98px;
  align-items: center;
}
header .flex-item {
  width: 25%;
}
header .flex-item:first-of-type {
  display: flex;
}
header .flex-item:nth-of-type(2) {
  width: 50%;
}
header .flex-item:last-of-type {
  position: relative;
}
header .flex-item:last-of-type button {
  position: absolute;
  right: 0;
}
header img {
  width: 28px;
  margin-right: 7px;
}
header h1 {
  font-size: 18px;
  font-weight: 600;
}
header nav {
  width: 100%;
  text-align: center;
}
header nav ul li {
  display: inline-block;
  padding: 0 26px;
  text-transform: uppercase;
}

section:first-of-type {
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
section:first-of-type:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("images/music-equalizer-bars.png"), linear-gradient(#eb01a5, #d13531);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  opacity: 0.25;
}
section:first-of-type article, section:first-of-type figure {
  position: relative;
  display: flex;
  align-items: center;
}
section:first-of-type h2 {
  font-size: 65px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 6px;
}
section:first-of-type h3 {
  font-size: 75px;
  font-weight: 600;
  text-transform: lowercase;
  line-height: 90px;
  margin-bottom: 25px;
}
section:first-of-type button {
  height: 50px;
  width: 200px;
  font-size: 17px;
  border: 0;
  border-radius: 50px;
  background: black;
  margin-right: 44px;
}
section:first-of-type button a {
  text-decoration: none;
  color: white;
}
section:first-of-type span {
  font-size: 24px;
  font-weight: 600;
  border-right: 2px solid black;
  padding-right: 18px;
  margin-right: 18px;
  display: inline-block;
  height: 25px;
}
section:first-of-type h5 {
  display: inline-block;
  font-size: 17px;
  width: 0;
  position: relative;
  top: 5px;
}
section:first-of-type > figure {
  display: grid;
  place-items: center;
}
section:first-of-type > div {
  position: absolute;
  bottom: 10%;
  left: 45%;
}
section:first-of-type > div figure {
  background: white;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  left: 17px;
  bottom: 35px;
}
section:first-of-type > div figure img {
  width: 40px;
  padding: 13px 13px 14px 14px;
  -moz-filter: drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.15));
  -ms-filter: drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.15));
  -o-filter: drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.15));
}
section:first-of-type > div figcaption {
  position: relative;
  display: inline-block;
  width: 250px;
  padding: 15px 32px;
  border-radius: 10px;
  z-index: 1;
}
section:first-of-type > div figcaption:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 85%;
  z-index: -1;
}

section:last-of-type {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  height: 225px;
}
section:last-of-type figure {
  position: relative;
}
section:last-of-type figure img {
  width: 225px;
  position: absolute;
  top: -135px;
  left: 0;
}
section:last-of-type article, section:last-of-type div {
  margin-top: 50px;
}
section:last-of-type article {
  border-right: 2px solid #eee;
  padding-right: 15%;
  height: 80px;
}
section:last-of-type h3, section:last-of-type h5 {
  display: inline-block;
}
section:last-of-type h3 {
  font-size: 53px;
  font-weight: 700;
  margin-right: 10%;
  padding-left: 15%;
}
section:last-of-type h5 {
  width: 120px;
}

#sound-wave {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar {
  animation-name: wave-lg;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  background: #607d8b;
  margin: 0 1.5px;
  height: 10px;
  width: 1px;
}
.bar:nth-child(-n+7), .bar:nth-last-child(-n+7) {
  animation-name: wave-md;
}
.bar:nth-child(-n+3), .bar:nth-last-child(-n+3) {
  animation-name: wave-sm;
}

@keyframes wave-sm {
  0% {
    opacity: 0.35;
    height: 10px;
  }
  100% {
    opacity: 1;
    height: 75px;
  }
}
@keyframes wave-md {
  0% {
    opacity: 0.35;
    height: 30px;
  }
  100% {
    opacity: 1;
    height: 125px;
  }
}
@keyframes wave-lg {
  0% {
    opacity: 0.35;
    height: 45px;
  }
  100% {
    opacity: 1;
    height: 210px;
  }
}
footer {
  text-align: center;
  height: 66px;
  background-color: #212121;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer h6 {
  font-size: 15px;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */