@use 'reset';

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

strong {
  font-weight: 600;
}

b {
  font-weight: 700;
}

section, footer {
  padding: 0 10%;
}

header {
  display: flex;
  justify-content: space-between;
  height: 98px;
  border-bottom: 1px solid #e0e0e0;
  margin: 0 10%;
  
  .flex-item {
    width: 25%;
    display: flex;
    align-items: center;

    &:first-of-type {
      display: flex;
    }

    &:nth-of-type(2) {
      width: 50%;
    }

    &:last-of-type {
      position: relative;

      a {
        position: absolute;
        right: 0;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 17px;

        p, span {
          display: inline-block;
        }

        span {
          background: #ff4d14;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          color: white;
          text-align: center;
          box-sizing: border-box;
          padding-top: 10px;
          padding-left: 1px;
          margin-left: 8px;
        }
      }
    }
  }

  img {
    width: 28px;
    margin-right: 7px;
  }

  h1 {
    font-size: 20px;
    font-weight: 600;
  }

  nav {
    width: 100%;
    text-align: center;
    
    ul li {
      display: inline-block;
      padding: 0 26px;
      text-transform: uppercase;
    }
  }
}

// Hero Section
section:first-of-type {
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;

  &:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('images/music-equalizer-bars.png'), linear-gradient(#eb01a5, #d13531);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    opacity: 0.25;
  }

  &:after {
    content: ' ';
    z-index: 1;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  }

  article, figure {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
  }

  #hero-title {
    display: flex;
    align-items: baseline;

    h2 {
      font-size: 65px;
      text-transform: uppercase;
      font-weight: 300;
      margin-bottom: 6px;
      margin-right: 22px;
    }

    img {
      width: 50px;
      height: 100%;

      &:first-of-type {
        margin-right: 22px;
      }
    }
  }

  h3 {
    font-size: 75px;
    font-weight: 600;
    text-transform: lowercase;
    line-height: 90px;
    margin-bottom: 25px;
  }

  button {
    height: 50px;
    width: 200px;
    font-size: 17px;
    border: 0;
    border-radius: 50px;
    background: black;
    margin-right: 44px;

    a {
      text-decoration: none;
      color: white;
    }
  }

  #hero-cta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    div > span {
      font-size: 24px;
      font-weight: 600;
      border-right: 2px solid black;
      padding-right: 18px;
      margin-right: 18px;
      display: inline-block;
      height: 25px;
    }
  }

  h5 {
    display: inline-block;
    font-size: 18px;
    width: 0;
    position: relative;
    top: 5px;
  }

  #soundwave-container {
    display: flex;
    align-items: center;
    justify-content: center;

    > figure {
      // Soundwave Container
      display: grid;
      place-items: center;
  
      // Image or GIF Container
      // align-items: center;
      // justify-content: center;
  
      // img {
      //   width: 80%;
      //   height: 30%;
      // }
  
      // Soundwave
      #sound-wave {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      .bar {
        animation-name: wave-lg;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
        background: #607d8b;
        margin: 0 1.5px;
        height: 10px;
        width: 1px;
  
        &:nth-child(-n + 7),
        &:nth-last-child(-n + 7) {
          animation-name: wave-md;
        }
  
        &:nth-child(-n + 3),
        &:nth-last-child(-n + 3) {
          animation-name: wave-sm;
        }
      }
  
      @keyframes wave-sm {
        0% {
          opacity: 0.35;
          height: 10px;
        }
  
        100% {
          opacity: 1;
          // height: 25px;
          height: 75px;
        }
      }
  
      @keyframes wave-md {
        0% {
          opacity: 0.35;
          // height: 15px;
          height: 30px;
        }
  
        100% {
          opacity: 1;
          // height: 50px;
          height: 125px;
        }
      }
  
      @keyframes wave-lg {
        0% {
          opacity: 0.35;
          // height: 15px;
          height: 45px;
        }
  
        100% {
          opacity: 1;
          // height: 70px;
          height: 210px;
        }
      }
    }
  }

  // Hero Quote Section
  #quote-container {
    position: absolute;
    bottom: 10%;
    left: 45%;
    
    figure {
      background: white;
      display: inline-block;
      border-radius: 50%;
      position: relative;
      left: 17px;
      bottom: 35px;
      
      img {
        width: 40px;
        padding: 13px 13px 14px 14px;
        -webkit-filter: drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.15));
        -moz-filter: drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.15));
        -ms-filter: drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.15));
        -o-filter: drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.15));
        filter: drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.15));
      }
    }
    
    figcaption {
      position: relative;
      display: inline-block;
      width: 250px;
      padding: 15px 32px;
      z-index: 1;
      font-size: 17px;

      span span {
        display: none;
      }
      
      &:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background: white;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 25%);
        z-index: -1;
      }
    }
  }
}

// Feature Section
section:last-of-type {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  padding: 60px 10%;
  position: relative;

  figure {
    position: relative;
    
    img {
      position: absolute;
      top: -115px;
      left: 0;
      width: 210px;
    }
  }

  article {
    border-right: 2px solid #eee;
    padding-right: 15%;

    h4 {
      font-size: 20px;
      line-height: 29px;
    }
  }

  div {
    display: flex;
    align-items: flex-start;
    margin-top: 5px;

    h3, h5 {
      display: inline-block;
    }
  
    h3 {
      font-size: 63px;
      font-weight: 700;
      margin-right: 11%;
      padding-left: 13%;
    }
  
    h5 {
      width: 140px;
      font-size: 18px;
      line-height: 25px;
      margin-top: 5px;
    }
  }
}

// Footer Section
footer {
  text-align: center;
  background-color: #212121;
  color: white;
  padding: 25px 0 36px;

  > div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
    padding-left: 12px;

    svg {
      width: 54px;
      margin-right: 14px;
    }

    img {
      width: 35px;
      margin: 0 3px;
    }

    #patreon-logo {
      margin-right: 7px;
    }

    div {
      display: inline-block;
      max-height: 50px;
      overflow: hidden;
      position: relative;
      
      img {
        width: 108px;
        position: relative;
        bottom: 27px;
      }
    }
  }

  h6 {
    display: inline-block;
    font-size: 16px;
    border-top: 1px solid #9e9e9e;
    padding: 34px 50px 0;
  }
}

@media screen and (max-width: 1600px) {
  section:first-of-type {
    #hero-title {
      h2 {
        font-size: 51px;
        letter-spacing: -1px;
        margin-right: 15px;
      }

      img {
        width: 35px;

        &:first-of-type {
          margin-right: 15px;
        }
      }
    }
    
    h3 {
      font-size: 47px;
      line-height: 60px;
    }

    #soundwave-container figure {
      transform: scale(.7);
      position: relative;
      left: 6.5%;
    }
  }
}

@media screen and (max-width: 1270px) {
  header {
    .flex-item:nth-of-type(2) {
      width: 100%;
      
      ul {
        text-align: right;

        li:last-of-type {
          padding-right: 0;
        }
      }
    }

    .flex-item:last-of-type {
      display: none;
    }
  }

  section:first-of-type {
    grid-template-columns: 1fr;
    
    article {
      grid-row-start: 2;
      align-items: baseline;
      justify-content: center;
      text-align: center;

      #hero-cta {
        grid-template-columns: 1fr;
  
        > div {
          grid-row-start: 1;
          margin-bottom: 30px;
          
          span {
            padding-right: 13px;
            margin-right: 6px;
          }
  
          h5 {
            width: auto;
            top: -2px;
          }
        }
        
        button {
          grid-row-start: 2;
          margin: 0 auto;
        }
      }

      button {
        margin-right: 15px;
        margin-left: -85px;
      }
    }

    section {
      grid-row-start: 1;
    }

    #soundwave-container figure {
      transform: scale(.7);
      left: 0;
    }

    #quote-container {
      left: 32.5%;
      bottom: 6.5%;
    }
  }

  section:last-of-type {
    padding: 50px 7.5%;

    figure img {
      width: 148px;
      top: -92px;
    }

    article {
      padding-right: 7.5%;
      margin-left: 30px;

      h4 {
        font-size: 17px;
      }
    }
    
    div {
      h3 {
        font-size: 58px;
        padding-left: 7.5%;
        margin-right: 3%;
      }
      
      h5 {
        font-size: 17px;
        width: 25vw;
      }
    } 
  }
}

@media screen and (max-width: 800px) {
  header nav ul li {
    padding: 0 22px;
  }

  #soundwave-container figure {
    transform: scale(0.625);
  }
}

@media screen and (max-width: 760px) {
  header nav ul li {
    padding: 0 16px;
  }

  section {
    padding: 0;
  }

  section:last-of-type {
    figure img {
      width: 138px;
    }
  
    article h4 {
      line-height: 26px;
    }
  }
}

@media screen and (max-width: 715px) {
  section:last-of-type {
    article h4 {
      font-size: 16px;
      line-height: 24px;
    }

    div h5 {
      font-size: 16px;
      line-height: 26px;
    }
  }
}

@media screen and (max-width: 686px) {
  header nav ul li {
    padding: 0 12px;
  }

  #quote-container {
    left: 20%;
  }

  section:last-of-type {
    grid-template-columns: 1fr 1fr;

    article {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 2;
      border-right: 0;
      border-left: 2px solid #eee;
      padding-right: 7.5%;
      padding-left: 7.5%;
      margin-left: 0;

      h4 {
        font-size: 15px;
        line-height: 30px;
      }
    }
    
    div {
      padding-right: 7.5%;
      margin-top: 0;
      position: relative;
      top: -25px;

      h5 {
        font-size: 15px;
        line-height: 26px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  section:first-of-type #quote-container {
    left: 21.5%;

    figcaption {
      padding: 15px 24px;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 634px) {
  header {
    margin: 0;
    padding: 0 5%;

    h1 {
      font-size: 18px;
    }

    nav ul li {
      padding: 0 5px;
    }
  }
  
  section:first-of-type {
   width: 100vw;

    #soundwave-container {
      div {
        width: 100%;
        height: 100%;
        position: relative;
      }
      
      figure {
        position: relative;
        margin: 0 auto;
        transform: scale(0.4);
      }
    }  

    article {
      width: 100vw;
    }
  }
}

@media screen and (max-width: 470px) {
  header {
    h1 {
      font-size: 17px;
    }
    
    nav ul li {
      padding: 0 3px;
      font-size: 14px;
    }
  }
  
  section:first-of-type {
    height: 75vh;

    #soundwave-container {
      width: 80vw;
      margin: 0 auto;
      position: relative;
      top: -20px;
      
      figure {
        transform: scale(0.33);
      }
    }

    article {
      top: -40px;

      #hero-title {
        justify-content: center;
  
        h2 {
          font-size: 42px;
          margin-bottom: 10px;
        }
      }
      
      h3 {
        font-size: 35px;
      }
    }

    #quote-container {
      left: 3.5%;
      bottom: 10%;
    }
  }

  section:last-of-type {
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 85px;

    article {
      grid-row-start: 1;
      grid-row-end: 1;
      grid-column-start: 1;
      grid-column-end: 4;
      width: 100%;
      height: auto;
      
      h4 {
        padding-right: 7.5%;
      }
    }

    figure {
      grid-row-start: 2;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 1;

      img {
        top: 35px;
        width: 120px;
        left: 26px;
      }
    }

    > div {
      grid-row-start: 2;
      grid-row-end: 2;
      grid-column-start: 2;
      grid-column-end: 4;
      align-items: center;
      top: 10px;
      left: 15%;
      padding-right: 0;

      h3 {
        padding-left: 0;
      }
    }
  }

  footer {
    padding: 34px 25px 0;
  }
}

@media screen and (max-width: 415px) {
  header nav ul li
  {
    padding: 0 1px;
  }

  section:first-of-type {
    #quote-container {
      bottom: 6%;
  
      figcaption {
        width: 70%;
        font-size: 15px;
        padding: 15px 12px;
    
        span {
          display: block;
    
          span {
            display: inline;
          }
        }
      }
    }
  }
  
  section:last-of-type {
    > div h3 {
      font-size: 57px;
    }
    
    figure img {
      width: 90px;
    }
  }
  
  
  footer {
    padding-bottom: 40px;

    h6 {
      padding: 34px 15px 0;

      #footer-bar {
        display: none;
      }

      #footer-author {
        display: block;
        margin-top: 25px;
      }
    }
  }
}